<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.17.2/simplelightbox.min.css">
    <title>Dj.Nav official website</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
      <input type="checkbox" id="nav-toggle-checkbox" class="nav-toggle">
            
        <a href="#  " class="logo"> Dj N<i class="fab fa-napster">V</i></a>
        
    <nav class="nav-links">  
      <ul>    
       <li> <a href="#albums" class="hide-on-small-screen">Music</a> </li>
       <li> <a href="shop" class="hide-on-small-screen">Shop</a></li>
       <li> <a href="#about" class="hide-on-small-screen">About</a></li>
       <li> <a href="#events" class="hide-on-small-screen">Events</a></li>
       <li> <a href="#contact" class="hide-on-small-screen">Contact</a></li>
       </ul>
     </nav>
     <a href="shop" class="hide-on-small-screen  cart-icon">Shop</a>
    </header>
    
    <label for="nav-toggle-checkbox" class="nav-toggle-label">
        <span class="nav-span"></span>
    </label>
    
    <!-- <div class="full-screen-overlay"></div> -->
   <section class="showcase">
               
    <div class="show-case-text">
        <div class="text">
            <h2 > Let The Mix Begin</h2>
            <h3>Bringing the best Music Production</h3>
            <p>Book a session with djNav! Send us mail or pre-order 
                through the website</p>
                <a href="#contact"  class="btn">BOOK NOW</a>
                <video src="images/bg-video.mp4" muted autoplay loop class="bg-video"></video>
        </div>
        <div class="overlay"></div>
     </div>   
   </section>
<!-- SECTION 2 -->
<main>
<!-- SECTION 2 -->
<section class="latest-music">
  <div class="audio-player-container">
      <span class="prev-btn"><i class="fa-solid fa-backward-step"></i></span>
      <div class="play-pause-btn">
        <i class="fa-sharp fa-solid fa-circle-play playBtnIcon"></i>
          <i class="fa-solid fa-circle-pause pauseBtnIcon"></i>
      </div>
      <span class="next-btn"><i class="fa-solid fa-forward-step"></i>
      </span>
    
  </div> 
  <div class="audio-timer">
    <span class="current-time"></span> 
    <span class="duration"></span>
  </div>

  <audio src=""></audio>

 <article class="music-samples">
  <!-- <div class="song-container">
      <h2 class="song-title">cold rain -dessert book</h2>
      <span class="song-duration">1:08</span>
  </div> -->
<% let songCounter = -1 %>
  <% audioFiles.forEach(song=>{ %>
  <% songCounter++ %>   
  <div class="song-container" id="<%=song.audioSrc%>" data-song-num="<%=songCounter %> ">
    <div class="playing-bars">
    <span></span>
    <span></span>
    <span></span>
    </div>
      <h2 class="song-title"><%=song.audioTitle%></h2>
      <span class="song-duration"><%=song.audioLength%></span>
  </div>
<%})%>

 </article>  
   
</section>

<div class="streaming-platforms">
  <a href="#"class="spotify"> <i class="fab fa-spotify"></i> </a>
  <a href="#"class="soundcloud" > <i class="fab fa-soundcloud"></i></a>
  <a href="#" class="youtube"><i class="fa-brands fa-youtube"></i></a>
  <a href="#" class="instagram"> <i class="fab fa-instagram"></i></a>
  <a href="#" class="twitter"><i class="fab fa-twitter"></i> </a>
  <a href="#" class="facebook"> <i class="fab fa-facebook-f"></i></a>
 </div>

<section class="about-section" id="about">
    <div class="section-titles">
        <h4 class="title2">About Us</h4>
        <h2 class="title2">Navvyscreative</h2> 
    </div>   
        <div class="about-us-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Molestiae vel delectus nobis? Minima, explicabo, ipsum vel 
            cum vero nisi modi aliquid
            sapiente minus quisquam perspiciatis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Perferendis et 
                quibusdam aliquid? Optio, sit eos.</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quibusdam 
               eligendi eos doloribus voluptatem culpa!</p> 
            </div>            
     </div>
</section>

<section class="shop">

    <div class="section-titles">
        <h4 class="title2">Shop</h4>
        <h2 class="title2">Exclusive Merch</h2> 
     </div>
    <div class="card-container">
    <article class="shop-product">
      <img src="images/grey--tshirt.jpg" alt="" class="product">
      <div class="card-text">
      <h3>$99 <i class="fas fa-cart-plus"></i></h3> 
      <h5>Dj Nav Tshirt- Available </h5> 
      
    </div>
    </article>
         
    <article class="shop-product">
        <img src="images/blue-cape.jpg" alt="" class="product">
        <div class="card-text">
        <h3>$25 <i class="fas fa-cart-plus"></i></h3> 
        <h5>Dj Nav hat- Available</h5> 
        </article>
      </article>
           
    <article class="shop-product">
        <img src="images/hoodie-blck.jpg" alt="" class="product">
        <div class="card-text">
        <h3>$299 <i class="fas fa-cart-plus"></i></h3> 
        <h5>Dj Nav hoodie- Available</h5>
        </div> 
      </article>
</div>

    <a href="shop" class="shop-site-link">visit shop.djnav.com</a>
</section>

<!-- contact form -->
<div class="contain" id="contact">

    <div class="wrapper">
  
      <div class="form" id="contact">
        <h4>Get In Touch</h4>
        <h2 class="form-headline">Send us a message</h2>
        <form id="submit-form" action="">
          <p>
            <input id="name" class="form-input" type="text" placeholder="Your Name*" required>
            <small class="name-error"></small>
          </p>
          <p>
            <input id="email" class="form-input" type="email" placeholder="Your Email*" required>
            <small class="name-error"></small>
          </p>
          <p class="full-width">
            <input id="company-name" class="form-input" type="number" placeholder="Phone Number*" required>
            <small></small>
          </p>
          <p class="full-width">
            <textarea  minlength="20" id="message" cols="30" rows="7" placeholder="Your Message*" required></textarea>
            <small></small>
          </p>
          <p class="full-width">
            <input type="checkbox" id="checkbox" name="checkbox" checked> Yes, I would like to receive communications by call from dj Nav team.
          </p>
          <p class="full-width">
            <input type="submit" class="submit-btn" value="Submit">
            <button class="reset-btn">Reset</button>
          </p>
        </form>
      </div>
  
      <div class="contacts contact-wrapper">
  
        <ul>
          <li>We've recorded & produced <span class="highlight-text-grey"> music for 
              hundreds</span> of artists. Ready to know
            how we can make you the next successful singer?</li>
          <span class="hightlight-contact-info">
            <li class="email-info"><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:contact@djnav.com"> contact@djnav.com </a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> <span class="highlight-text"> <a href="tel:+97470923424">+974 547 673 6367</a></span></li>
          </span>
        </ul>
      </div>
    </div>
  </div>
  <!-- contact Form -->

<section class="section-gallery">
    <div class="section-titles">
        <h4 class="title2">Gallery</h4>
        <h2 class="title2">Instagram</h2> 
     </div>
    <div class="gallery">
    <a href="./images/1.jpg" class="big">
    <img src="./images/2.jpg" alt="big" >    
    </a>
    <!-- <a href="./images/3.jpg" class="big">
     <img src="./images/3.jpg" alt="big">  
     </a> -->
    
    <a href="./images/5.jpg">
    <img src="./images/5.jpg" alt="" class="big second-last">    
    </a>
    
     <a href="images/6.jpg" class="big">
     <img src="./images/6.jpg" alt="" >    
     </a>
    
     <a href="images/7.jpg" class="big">
     <img src="./images/7.jpg" alt="" >    
     </a>
    
     <a href="./images/8.jpg"  class="big">
    <img src="./images/8.jpg" alt=""/>  
     </a>
     <a href="images/6.jpg" class="big">
     <img src="./images/6.jpg" alt="" >    
     </a>
     <a href="images/7.jpg" class="big">
        <img src="./images/7.jpg" alt="" >    
        </a>
        <a href="images/6.jpg" class="big">
            <img src="./images/6.jpg" alt="" >    
            </a>
            
     <a href="./images/8.jpg"  class="big">
        <img src="./images/8.jpg" alt=""/>  
         </a>
    </div>
</section> 
<!-- <div class="audio-player">
    <div class="audio-player-header">
      <h6>Audio Player</h6>
      <i class="far fa-times-circle" id="close-player"></i>
    </div>
    <audio src="./audios/" id="audio-element"></audio>
    <div class="audio-ctrls"> 
      <img src="./song-images/" alt="" class="thumbnail">
      <div class="controls-audio">
        <i class="fas fa-step-backward audio-prev-btn"></i> 
        <i class="fas fa-play audio-play-btn fa-lg"></i> 
        <i class="fas fa-step-forward audio-next-btn"></i> 
    </div> 
      </div>
    <h5 class="song-title">Ella Mai trip-2021</h5> 
    <div class="progress-bar">
        <i class="fas fa-volume-up mute-sound-btn"></i>
          <input type="range" value="0%" min="0" max="100"  class="song-progress-bar" id="audio-slider">    
      </div>
  </div> -->
   <footer>
       <h5 class="copyrite">&copy; Dj Nav. All rights reserved. 
           designed  by <a href="http://herbertm.com">Herbert</a></h5>
    <div class="social-media-icons">   
    <a href="#"><i class="fab fa-twitter"></i> </a>
    <a href="#"> <i class="fab fa-facebook-f"></i></a>
    <a href="#"> <i class="fab fa-spotify"></i> </a>
    <a href="#"> <i class="fab fa-soundcloud"></i></a>
    <a href="#"> <i class="fab fa-instagram"></i></a>
</div>
</footer>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/1.17.2/simple-lightbox.min.js"></script>
<script>
    $(function() {
        const $gallery = $('.gallery a').simpleLightbox();
      });
</script>
<script src="index.js"></script>